<main class="main">
  <div class="l-dashboard"></div>
  <div class="c-dashboard">
    <div class="legend-list-card">
      <p><b>{{clientStore.totalClients()}}</b> clientes encontrados:</p>
      <p>Clientes por página: Num</p>
    </div>
    <app-client-card [clients]="clientStore.clients()" [totalClients]="clientStore.totalClients()"
      (onAddClick)="openCreateDialog()" (onEditClick)="openEditDialog($event)" (onRemoveClick)="removeClient($event)" />
    <div>
      <button (click)="openCreateDialog()" class="create-client">Criar cliente</button>
    </div>
  </div>
  <div class="r-dashboard"></div>
</main>