<main class="main">
  <div class="l-dashboard"></div>
  <div class="c-dashboard">
    <div class="legend-list-card">
      <p><b>{{clientStore.totalClients()}}</b> clientes encontrados:</p>
      <p>Clientes por página: Num</p>
    </div>
    <app-client-card [clients]="clientStore.clients()" [totalClients]="clientStore.totalClients()"
      (onAddClick)="addOrRemoveFavorityList($event)" (onEditClick)="openDialog('edit', $event)"
      (onRemoveClick)="confirmAndRemoveClient($event)" [isFavorite]="isFavorite()" />
    <div>
      <button (click)="openDialog('create')" class="create-client">Criar cliente</button>
    </div>
  </div>
  <div class="r-dashboard"></div>
</main>